include ../mixins/forms.pug

doctype html
html(lang="en").h-100
  head
    title="Test Task Node JS"
  body.d-flex.flex-column.min-vh-100
    .container
      h1.my-4
        block header
      block content
    script(src='/assets/main.js')
